@import "tailwindcss";

@layer utilities;
* {
  font-family: "Open Sans", serif;
}

.sectionContainer {
  @apply container px-4 max-w-7xl mx-auto
}

/* Custom Pagination Dots */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  opacity: 1;
}


.dashboardShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}